.empty-bag{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text-1{
        font-family: Assistant,Helvetica,Arial,sans-serif!important;
        font-size: 25px;
        font-weight: 700;
        color: #424553;
        margin:0;
    }
    .text-2{
        font-size: 14px;
        color: #7e818c;
        letter-spacing: 0.5px;
    }
    img{
        height: 200px;
        width: 200px;
    }
    .add-items{
        text-decoration:none;
        display: flex;
        justify-content:center ;
        align-items: center;
        width: 225px;
        height: 45px;
        border: 1px solid #ff3f6c;
        border-radius: 5px;
        background-color: white;
        color: #ff3f6c;
        font-weight: 700;
        font-size: 14px;
        margin-top: 5px;
    }
}