.products{
    @media (max-width:480px){
        width: 100%;
    }
        .items{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 25px;
            flex-wrap: wrap;
            height: fit-content;
            margin-bottom: 25px;
            @media (max-width:480px){
                display: flex;
                flex-direction: column;
                width: 100%;

            }
        }
}

